NEXT_PUBLIC_SITE_URL=https://portfolio.hirak.tech
STRAPI_INTERNAL_URL=http://cms:1337
NEXT_PUBLIC_STRAPI_URL=https://api.portfolio.hirak.tech
STRAPI_API_TOKEN=your-public-read-token-here
STRAPI_PREVIEW_TOKEN=your-preview-token-here
PREVIEW_SECRET=your-preview-secret-here
REVALIDATION_SECRET=your-revalidation-secret-here
